{% extends './base.html' %}
{% load static %}
{% block content %}
     
      
      <div class="main-template-about">
         <div class="section-gradient">
            <div class="map"></div>
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                     <div class="wow fadeIn" data-wow-delay="0.0s">
                        <h1>About Us
                        </h1>
                        <p class="lead">Our company has been facilitating import and export trade between Pakistan and the rest of the world for over 20 years. We are a team of experienced professionals who are passionate about connecting Pakistani businesses with global markets.
                           <br>
                           <br>
                           Go Check out and get inspired!
                        </p>
                     </div>
                     <div class="about-icons row">
                        <div class="col-xs-4 wow fadeIn" data-wow-delay="0.0s"><img src="images/about-icon-1.png" alt=""/></div>
                        <div class="col-xs-4 wow fadeIn" data-wow-delay="0.2s"><img src="images/about-icon-2.png" alt=""/></div>
                        <div class="col-xs-4 wow fadeIn" data-wow-delay="0.4s"><img src="images/about-icon-3.png" alt=""/></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="section do">
            <div class="blue-light"></div>
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                     <div class="does-box">
                        <div class="panel-body">
                           <h2>Our Mission</h2>
                           <p>Our mission is to be the premier provider of import/export services for Pakistani companies. We aim to help Pakistani businesses expand their reach internationally and enable foreign companies to access the Pakistani market with ease.
                           </p>
                           
                           
                        </div>
                        <img class="wow fadeIn" src="{% static 'images/mac-about.png' %}" alt="" />
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="seciton create">
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                     <h2>Our Services
</h2>
                     
                     <p>
                        We offer a comprehensive suite of import/export services, including:


   <br><br><b>Product sourcing and procurement</b><br>
<b> Customs clearance and logistics</b><br>
<b>Market research and analysis</b><br>
<b>Trade finance and insurance</b><br>
<b>E-commerce platform integration</b><br><br>

Our experts work closely with our clients to understand their unique needs and develop tailored solutions to help them succeed in the global marketplace.

                     </p>
                     
                  </div>
               </div>
            </div>
         </div>
         <div class="section account-box">
            <div class="blue-dark"></div>
            <div class="light-blue-grad"></div>
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                     <div class="blue-form">
                        <h2>Start a surfing today</h2>
                  
                        <p>Easy setup - up to 100 products for free</p>
                        <div class="blue-form_question"><strong>Questions?</strong> Call us on +92 305 2020560 for help.</div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="section-white">
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                     <h2>Our Expertise</h2>
                     <p>With over two decades of experience in the industry, we have developed deep expertise in navigating the complexities of international trade. Our team stays up-to-date with the latest regulations, tariffs, and industry trends to ensure our clients are always well-informed and positioned for success.</p>
                     
                  </div>
                  <div class="col-lg-8 col-lg-offset-2 wow fadeIn" style="margin-bottom:15px;" data-wow-delay="0.2s">
                     <img class="img-responsive" src="{% static 'images/lag-60.png' %}" alt="" />
                  </div>
                  <div class="col-lg-8 col-lg-offset-2">
               <h2>Our Commitment</h2>
                     <p>At the heart of our organization is a commitment to integrity, transparency, and customer satisfaction. We pride ourselves on building long-term partnerships with our clients, providing them with the support and guidance they need to thrive in the global economy.

</p>
                     
                  </div>
                  <div class="col-lg-8 col-lg-offset-2 wow fadeIn" style="margin-bottom:15px;" data-wow-delay="0.2s">
                     <img src="{% static 'images/lag-61.png' %}" alt="" />
                  </div>
                  <div class="col-lg-8 col-lg-offset-2">
                     
                     <p>If you're a Pakistani business looking to expand your horizons, or an international company seeking to enter the Pakistani market, we invite you to get in touch with us. Let us be your trusted partner in the world of import and export.</p>
                     <p>So what are you waiting for? Sign up and create oppurtinities for your business.</p>
                  </div>
                  <div class="col-lg-8 col-lg-offset-2">
                     <div class="row">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.2s">
                           <div class="rectange">
                              <h3 class="rectange_title">Career opportunities</h3>
                              <p class="rectange_text">We’re growing, and we’re looking for talented people who can make commerce better.</p>
                              <a href="" class="rectange_link">See open positions</a>
                           </div>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                           <div class="rectange">
                              <h3 class="rectange_title">Contact us</h3>
                              <p class="rectange_text">Have questions or any requests for us? Contact our team and we will get back to you.</p>
                              <a href="/contact-us" class="rectange_link">Contact FYP Chamb</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      
      {% endblock %}